@mixin headerAndFooter {
	background-color: $colorVerde;
	height: 40%;
	font-family: $fuenteCursiva;
	text-align: $alinearDerecha;
	font-size: $tamanoTitulo;
	a {
		color: $colorBlanco;
		text-decoration: none;
		padding: $chico;
	}
	footer,p{
		text-align:$centrar;
		color: $colorBlanco;
	}
}

@mixin imagenesPandas {
	margin-left: $grande;
	&__elementImg {
		display: inline;
		padding: $chico;
		&--modifierImg {
			height: 200px;
			width: 200px;
			border-radius: 10%;
			border: 15px solid $colorRosa;
		}
	}
}

@mixin botones {
	text-align: $centrar;
	display: inline-block;
	&__btn {
		width: 95px;
		height: 95px;
		border-radius: 50%;
		background-color: $colorVerde;
		display: inline-block;
		padding-top: $chico;	
		margin-left: $chico;
		&--btnTxt {
			font-family: $fuenteCursiva;
			font-size: $tamanoTexto;
			color: $colorBlanco;
		}
	}
	&__btn:hover {
		background-color: $colorRosa;
 }
}

@mixin Textos{
	.contenedorTxt{	
	&__txt{
	    font-family:$fuenteScript;
		color: $colorVerde;
		font-size:1.4vw;
		padding: $mediano;
		background-color:$colorBlanco;
		border: solid 3px $colorRosa;
		border-radius: 2%;
		margin-bottom: $mediano;
	}
	}
	
	
}