/*COLORES*/

$colorDurazno: #FFE4C4;
$colorVerde: #6D6875;
$colorRosa: #B5838D;
$colorBlanco: #fff;

/*FUENTE*/

$fuenteCursiva:'Cedarville Cursive',
cursive;
$fuenteScript:'Bellefair',
serif;
$tamanoTitulo: 1.5vw;
$tamanoTexto: 1.3vw;
$centrar: center;
$alinearIzquierda:left;
$alinearDerecha:right;

/*medidas*/

$chico: 2%;
$mediano: 5%;
$grande: 10%;


