/*COLORES*/
$colorDurazno: #FFE4C4;
$colorVerde: #99CC99;
$colorRosa: #FFCCCC;
$colorBlanco: #fff;
/*FUENTE*/
$fuenteCursiva:'Cedarville Cursive', cursive;
$fuenteEscript:'Bellefair', serif;
$tamanoTitulo: 2vw;
$tamanoTexto: 1.3vw;
$centrar: center;
$alinearIzquierda:left;
$alinearDerecha:right;
/*medidas*/
$chico: 2%;
$mediano: 5%;
$grande: 10%;



